@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

/* GLOBAL PROPERTIES */
:root {
  --col-1: #ffffff;
  --col-1-on: #222028;

  --col-2: #222028;
  --col-2-on: #ffffff;

  --col-3: #353a42;
  --col-3-on: #ffffff;

  --col-4: #ffbc48;
  --col-4-on: #222028;

  --font-1: Georgia, 'Times New Roman', Times, serif;
  --font-2: 'Fira Sans', Helvetica, Arial, sans-serif;

  --spacing: 1rem;
}

/* TYPE STYLING */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font: 400 normal 1rem/1.5 var(--font-1);
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--col-2);
  background-image: linear-gradient(180deg,var(--col-2) 0%, var(--col-3) 100%);
}
a {
  color: var(--col-4);
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-2);
  font-weight: 900;
  line-height: 1;
  margin: 1rem 0;
}
figure {
  margin: 1rem 0;
}
img {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */
.highlight {
  background-color: var(--col-4);
  padding: 0 0.25rem 0 0.25rem;
  color: var(--col-4-on);
  text-shadow: none;
}
.no-markers {
  list-style-type: none;
  padding: 0;
}
.item-list {
  padding-left: 1rem;
}
.content-block {
  padding: 1rem;
}
.quote {
  margin: 0;
  border-left: 0.25rem solid var(--col-4);
  padding-left: 0.75rem;
  font-style: italic;
}
.cell {
  border: 1px solid var(--col-2);
  padding: 0.5rem;
}
.section-heading {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

/* SPECIFIC ELEMENTS */
.recipe-stats {
  text-transform: uppercase;
  font-family: var(--font-2);
  font-weight: 900;
}
.recipe-intro {
  background-color: var(--col-3);
  background-image: url('../img/ingredients-480w.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding: 1rem;
  color: var(--col-3-on);
  text-shadow: 0 0 1rem var(--col-2);
}
.intro-lead {
  margin: 1rem 0;
}
.recipe-category {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.125rem;
}
.recipe-name {
  font-size: 2.5rem;
}
.recipe-desc {
  font-size: 1.25rem;
}
.recipe-content {
  background-color: var(--col-1);
  color: var(--col-1-on);
  padding-bottom: 1rem;
}
.navbar {
  background-color: var(--col-2);
  color: var(--col-2-on);
}
.main-menu {
  margin: 0;
}
.main-menu a {
  display: block;
  transition: all 0.1s;
  line-height: 2;
  font-family: var(--font-2);
  text-decoration: none;
}
.main-menu a:hover {
  background-color: var(--col-4);
  color: var(--col-4-on);
}
.schedule-time {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.schedule-time tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}
.schedule-caption {
  caption-side: bottom;
  text-align: left;
  line-height: 2;
}
.switch {
	display: inline-flex;
	background-color: var(--col-1);
	border-radius: 1rem;
	box-shadow: inset 0 0 0.25em rgba(0,0,0,0.25);
}
.unit {
	font: 0.65rem var(--font-2);
	background-color: transparent;
	color: #888888;
	padding: 0.125rem 0.25rem;
	border: 0.125rem solid transparent;
	border-radius: 1rem;
	cursor: pointer;
}
.unit.active {
	background-color: var(--col-4);
	color: var(--col-4-on);
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
	border-color: var(--col-4-on);
}
.gallery {
	position: relative;
	height: 15rem;
}
.gallery-img {
	display: none;
	width: 100%;
	height: 100%;
  object-fit: cover;
  position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.gallery-img.active {
	display: block;
}
.gallery-controls {
	display: flex;
	width: 100%;
	padding-left: 0;
	justify-content: center;
  list-style: none;
  position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.gallery-btn {
	background-color: white;
	font-size: 1rem;
	width: 1rem;
	height: 1rem;
	border: 0.125rem solid var(--col-3);
	border-radius: 50%;
	margin: 0 0.25rem;
	box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
	cursor: pointer;
}
.gallery-btn.active {
	background-color: var(--col-4);
}

/* MEDIA QUERIES */
@media screen and (min-width: 40rem) {
  html {
    font-size: 1.2rem;
  }
  .recipe-intro {
    background-image: url('../img/ingredients-960w.jpg');
    background-attachment: fixed;
  }
  .gallery {
    height: 20rem;
  }
}
@media screen and (min-width: 60rem) {
  .container {
    max-width: 50rem;
    margin: 0 auto;
  }
  .content-block {
    padding: 1rem 2rem;
  }
  .recipe-intro {
    padding: 1rem 2rem;
    padding-bottom: 4rem;
    background-image: url('../img/ingredients-1920w.jpg');
  }
  .intro-lead {
    width: 70%;
  }
  .recipe-name {
    font-size: 3.5rem;
  }
  .recipe-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .stat-value {
    display: block;
  }
  .recipe-content {
    margin-top: -3rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    position: relative;
    padding-left: 15rem;
  }
  .main-menu {
    display: flex;
  }
  .main-menu li {
    flex-grow: 1;
    text-align: center;
  }
  .sidebar {
    background-color: var(--col-4);
    color: var(--col-4-on);
    width: 15rem;
    padding: 1rem 0;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .captioned-img {
    position: relative;
  } 
  .captioned-img > figcaption {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .captioned-img:hover > figcaption {
    opacity: 1;
  }
}


.foot {
  background-color: var(--col-2);
  color: var(--col-2-on);
}
.recipe-content {
  padding-bottom: 0;
}
.social {
  font-size: 2.2em;
  margin: 1rem 0;
}